/*глобальное исправление*/:root{box-sizing: border-box;}*,::before,::after{box-sizing:inherit;margin: 0;padding: 0;}li{list-style-type: none;}a{text-decoration:none ;}input{outline:none;}button{cursor: pointer;}input{cursor: text;}button{border: none;}/*глобальное исправление*/
@font-face{
    font-family: Roboto;
    src: url(../fonts/Roboto-Medium.ttf);
}
$font:'Roboto';
$h1:22px;
$h2:16px;
$h3:13px;
body{
    font-family: $font;
}
.col{
    max-width: 971px;
    margin: 0 auto;
    position: relative;
}
header{ 
    top: 0;
    position: fixed;
    width: 100%;
    box-shadow: 1px 1px 16px rgba(38, 38, 38, 0.16);
    z-index: 10;
    background-color: #fff;
    nav{
        display: flex;
        align-items: baseline;
    }
}
.uber{
    font-weight: 100;
    font-size: $h1;
}
.right__nav{
    display: flex;
    align-items: center;
    margin-left: auto;
}
.toComeIn{
    padding: 5px 14px;
    background-color: #fff;
    border:1px solid #E0E0E0;
    border-radius: 2px;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
    margin-right: 15px;
}
main{
    padding-top: 77px;
}
.main__restaurant{
    background: url(../image/restaurant/d42ea9bbf7aff297c2e1eb5e5f3b7fa6-w1080-87.png) 50% /cover  no-repeat;
    width: 100%;
    height: 361px;
    display: block;
}
.vizit__card{
    position: absolute;
    height: 204px;
    width: 389px;
    left: 0;
    top: 80px;
    border-radius: 2px;
    background-color: #fff;
    h1{
        font-weight: 200;
        text-align: center;
        font-size: 36px;
        margin-top: 35px;
    }
    h5{
        font-weight: 100;
    }
}
.description{
        display: flex;
        margin-top: 50px ;
        align-items: baseline;
        justify-content: space-around;
        flex-wrap: wrap;
        height: 100%;
        flex-direction: row;
        h5{
            width: 40%;
        }
        .time{
            background-color: #000;
            color: #fff;
            padding: 8px 15px;
            border-radius: 16px;
        }
}
ul{
    display: flex;
    margin: 20px 0;
    a{
        font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: grey;
    margin-right: 40px;
    }
}
span.menu{
    width: 100%;
    height: 1px;
    background-color:#757575;
    display: block;
}
.menu{
    margin: 50px 0;
    h1{
        font-family: Roboto;
        font-size: 22px;
        font-style: normal;
        font-weight: 400;
        line-height: 34px;
        letter-spacing: 0em;
        text-align: left;
    }
}
.sub__menu{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.dish{
    display: flex;
    flex-basis: 45%;
    margin: 25px 0;
    height: 160px;
}
.dish__col--left{
    position: relative;
    flex-basis: 70%;
    display: flex;
    border: grey solid 1px;
    h4{
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        margin: 7px;

    }
    h5{
        color: #626262;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: 21px;
        margin: 7px;
    }
    .dish__price{
        position: absolute;
        bottom: 7px;
        left: 7px;
    }
}


footer{
    background-color: #262626;
    width: 100%;

}
.logo{
    margin: 35px 0;
}
.footer{
    display: block;
    width: 100%;
    height: 1px;
    background-color: #fff;
}
.contacts{
    display: flex;
    margin: 25px 0 45px;
    justify-content: space-between;
    flex-wrap: wrap;
}
select{
    background-color: #3B3B3B;
    background: url(../image/icon/world.png) 10% 50% no-repeat;
    padding: 10px 80px;
    color: #fff;
    border-radius: 2px;
    border:  #3B3B3B 1px solid;
    margin-bottom: 25px;
}
.icon__name{
    color: #fff;
    display: flex;
    font-weight: 200;
}
.icon{
    display: flex;
    a{
        margin: 5px;
    }
}
.block2,.block3{
    display: block;
    margin-left: 15px;
    a{
        color: #fff;
        h4{
            font-size: 13px;
            padding-bottom: 25px;
            font-weight: 200;
        }
    }
}
.block3{
    flex-basis: 33%;
}
.app{
    margin: 25px auto;
    display: flex;
    justify-content: center;
}
.rights{
    display: flex;
    color: #fff;
    margin: 35px 0 0;
    padding-bottom: 25px;
    justify-content: space-between;
    flex-wrap: wrap;
        h4{
            font-size: 13px;
            font-weight: 200;
            
        }
        .right__col{
            flex-basis: 33%;
        }
}
.absolute{
    position: fixed;
    width: 80px;
    height: 80px;
    background-color:#59BD5A;
    right: 25px;
    bottom: 25px;
    background: #59BD5A url(../image/icon/button.png) 50% 50% no-repeat;
}
.dish:hover{
    filter: contrast(60%);
    transition: .7s;
}
button:hover{
    background-color: rgb(236, 236, 236);
    transition: .7s;
}
a:hover{
    background-color: rgb(196, 193, 193);
    transition: .7s;
}
@media(min-width:770px){
    .col{
        padding-left: 15px;
    }
}
@media (min-width:322px) and (max-width:769px){
    .dish{
        width: 100%;
        flex-basis: 95%;
        margin-left: auto;
    }
    .col{
        margin-left: 10px;
        margin-right: 10px;
    }
}
@media (max-width:322px){
    .main__restaurant{
        background-size: cover;
    }
    .vizit__card{
        height: 180px;
        width: 308px;
        left: 8px;
        top: 203px;
        box-shadow: 0px 0px 16px rgba(117, 117, 117, 0.2);
        margin-top: 0;
    } 
    .vizit__card h1{
        margin-top: 15px;
    }
    .description{
        margin-top: 15px;
        flex-direction: column;
        width: 100%;
        height: auto;
        h5{
            width: 100%;
            margin-top: 5px;
            text-align: center;
        }
        .time{
            width: 35%;
            text-align: center;
            margin: 5px auto;
        }

    }
    ul{
        display: none;
    }
    span.menu{
        display: none;
    }
    .menu h1{
        text-align: center;
    }
    .dish{
        flex-basis: 100%;
    }
    a#basket{
        display: none;
    }
    header{
        padding: 20px;
    }
}