/*глобальное исправление*/:root{box-sizing: border-box;}*,::before,::after{box-sizing:inherit;margin: 0;padding: 0;}li{list-style-type: none;}a{text-decoration:none ;}input{outline:none;}button{cursor: pointer;}input{cursor: pointer;}button{border: none;}/*глобальное исправление*/
@font-face{
    font-family: Roboto;
    src: url(../fonts/Roboto-Medium.ttf);
}
$font:'Roboto';
$h1:22px;
$h2:16px;
$h3:13px;
body{
    font-family: $font;
}
.col{
    max-width: 956px;
    margin: 0 auto;
}
header{ 
    top: 0;
    position: fixed;
    width: 100%;
    box-shadow: 1px 1px 16px rgba(38, 38, 38, 0.16);
    z-index: 10;
    background-color: #fff;
    nav{
        display: flex;
        align-items: baseline;
    }
}
.uber{
    font-weight: 100;
    font-size: $h1;
}
.right__nav{
    display: flex;
    align-items: center;
    margin-left: auto;
}
.toComeIn{
    padding: 5px 14px;
    background-color: #fff;
    border:1px solid #E0E0E0;
    border-radius: 2px;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
    margin-right: 15px;
}
main{
    margin-top: 25px;
    margin-bottom: 35px;
    h2{
        color: black;
        font-family: Roboto;
        font-size: $h2;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
        margin-top: 5px;

    }
    h3{
        color: black;
        font-family: Roboto;
        font-size: $h3;
        font-style: normal;
        font-weight: 400;
        line-height: 21px;
        letter-spacing: 0em;
        text-align: left;
        margin-top: 5px;

    }
    input{
        width: 100%;
        margin-top: 70px;
        border: none;
    }
    .input{
        display: block;
        height: 1px;
        width: 100%;
        background-color:#757575;
    }
    .heading{
        font-family: $font;
        font-weight: 400;
        margin-top: 50px;
    }
    .products{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        color: #000;
    }
}
.card{
    margin: 5px 5px 10px 5px;
}
footer{
    background-color: #262626;

}
.logo{
    margin: 35px 0;
}
.footer{
    display: block;
    width: 100%;
    height: 1px;
    background-color: #fff;
}
.contacts{
    display: flex;
    margin: 25px 0 45px;
    justify-content: space-between;
    flex-wrap: wrap;
}
select{
    background-color: #3B3B3B;
    background: url(../image/icon/world.png) 10% 50% no-repeat;
    padding: 10px 80px;
    color: #fff;
    border-radius: 2px;
    border:  #3B3B3B 1px solid;
    margin-bottom: 25px;
}
.icon__name{
    color: #fff;
    display: flex;
    font-weight: 200;
}
.icon{
    display: flex;
    a{
        margin: 5px;
    }
}
.block2,.block3{
    display: block;
    margin-left: 15px;
    a{
        color: #fff;
        h4{
            font-size: 13px;
            padding-bottom: 25px;
            font-weight: 200;
        }
    }
}
.block3{
    flex-basis: 33%;
}
.app{
    margin: 25px auto;
    display: flex;
    justify-content: center;
}
.rights{
    display: flex;
    color: #fff;
    margin: 35px 0 0;
    padding-bottom: 25px;
    justify-content: space-between;
    flex-wrap: wrap;
        h4{
            font-size: 13px;
            font-weight: 200;
            
        }
        .right__col{
            flex-basis: 33%;
        }
}
.absolute{
    position: fixed;
    width: 80px;
    height: 80px;
    background-color:#59BD5A;
    right: 25px;
    bottom: 25px;
    background: #59BD5A url(../image/icon/button.png) 50% 50% no-repeat;
}